---
import Section from "./sections/Section.astro";

import { projects } from "../cv.json";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(
        ({ name, startDate, endDate, description, highlights, url }) => {
          return (
            <li>
              <article>
                <header>
                  <h3>{name}</h3>
                  <a
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Ver proyecto o su Github"
                  >
                    Ver proyecto
                  </a>
                </header>
                <footer>
                  <p hidden>{description}</p>
                  <p>
                    {startDate} - {endDate}
                  </p>
                  <ul>
                    {highlights.map((highlight) => {
                        return <li>{highlight}</li>;
                        })
                    }
                  </ul>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>


<style>
  ul {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  li {
    list-style: none;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }